.dropdown-menu-manager {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  z-index: 10;
}

.dropdown-tag-options {
  margin-top: 8px;
  padding: 8px;
  border-top: 1px solid #ccc;
}

.dropdown-tags-manager {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #ebe4e4;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  z-index: 10;
  width: 200px; // Largura fixa
  min-width: 200px; // Mínimo de largura (ou ajuste para seu layout)
}

.save-group-tags-btn {
  background-color: #ff7f00; // Cor de fundo laranja
  color: #f1f1f1;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  float: right; // Posiciona o botão à direita

  &:hover {
    background-color: #e06b00; // Laranja um pouco mais escuro ao passar o mouse
  }
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details .d-flex {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaçamento entre título e tags */
}

.group-tags {
  display: flex;
  gap: 10px; /* Espaçamento entre as tags */
  margin-left: 16px; /* Move as tags para a direita */
  margin-top: -7px; /* Move as tags ligeiramente para cima */
  align-items: center; /* Alinha verticalmente no centro */
}

.group-tag {
  padding: 3px 8px; /* Preenchimento interno das tags */
  border-radius: 4px; /* Borda arredondada */
  color: #fff; /* Cor do texto */
  font-size: 0.875rem; /* Tamanho da fonte */
  white-space: nowrap; /* Evita quebra de linha */
}


.tag-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.create-new-tag-btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.create-tag-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%; /* Garante que o conteúdo fique dentro da div principal */
  box-sizing: border-box; /* Inclui bordas e paddings no cálculo do tamanho */
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajusta o espaçamento entre o rótulo e o campo */
  gap: 8px;
  width: 100%; /* Faz o wrapper respeitar a largura da div */
  box-sizing: border-box; /* Evita overflow causado por bordas ou padding */
}

.color-input {
  flex: 1; /* Faz o input de cor ocupar o espaço restante */
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 120px; /* Define um tamanho máximo para o input */
}

.tag-input {
  width: 100%; /* Faz o input de nome preencher a largura da div */
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.save-tag-btn, .cancel-tag-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-tag-btn {
  background-color: #4CAF50;
  color: white;
}

.cancel-tag-btn {
  background-color: #f44336;
  color: white;
}
