<div class="header test d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-between w-100">
        <div class="d-flex justify-content-between align-items-center">
            <img src="avatar.png" alt="Logo" class="user user-image">
            <div class="user-details d-flex flex-column mt-3">
                <h5 class="d-flex align-items-center">Usuário</h5>
                <p class="small">Administrador</p>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center position-relative">
            <fa-icon [icon]="faCog" class="configurations" (click)="toggleConfigDropdown($event)"></fa-icon>
          
            <!-- Dropdown de Configurações -->
            <div *ngIf="showConfigDropdown" class="dropdown-menu-config">
              <div class="dropdown-item-config" (click)="viewProfile()">Visualizar Perfil</div>
              <div class="dropdown-item-config" (click)="logout()">Logout</div>
            </div>
          </div>
    </div>
</div>