<div class="header test d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-between w-100">
        <div class="d-flex justify-content-between align-items-center">
            <img src="avatar.png" alt="Logo" class="user user-image">
            <div class="user-details d-flex flex-column mt-3">
                <h5 class="d-flex align-items-center">Usuário</h5>
                <p class="small">Administrador</p>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <fa-icon [icon]="faCog" class="configurations"></fa-icon>
        </div>
    </div>
</div>