<!-- Componente de Chat -->
<div class="d-flex justify-content-between p-2">
    <input type="text" class="form-control" placeholder="Pesquise por um grupo ou palavra-chave"
    [(ngModel)]="searchQuery"
    (input)="filterGroups()">
    <fa-icon [icon]="faSquarePlus" class="search-icon"></fa-icon>
    
    <div class="d-flex justify-content-center align-items-center position-relative">
        <fa-icon [icon]="faTag" class="tags-icon" (click)="toggleDropdownTags($event)"></fa-icon>
    
        <!-- Dropdown de opções -->
        <div *ngIf="showDropdownTags" class="dropdown-tags-manager" #dropdownTags>
            <p>Tags</p>
            <div class="tags-options">
              <div *ngFor="let tag of availableTags" class="form-check m-2">
                <input 
                  type="checkbox" 
                  [id]="tag.name" 
                  [checked]="selectedTags.includes(tag.name)"
                  (change)="toggleTagSelection(tag.name)"
                  class="form-check-input"
                >
                <label 
                  [for]="tag.name" 
                  [ngStyle]="{'color': getTagColor(tag.name), 'font-weight': '600'}" 
                  class="form-check-label"
                >
                  {{ tag.name }}
                </label>
              </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row chat-nav p-2">
    <div *ngFor="let group of filteredGroups" class="chat-group p-2 mb-3">
        <div class="d-flex justify-content-between" (click)="onSelectChat(group)">
            <div *ngIf="group.priority" class="chat-tag" [ngStyle]="{'background-color': getTagColor(group.priority)}"></div>
            <div class="d-flex align-items-center">
                <img [src]="group.imageUrl ?? 'liveseo-normal.png'" alt="Logo" class="user user-image">
                <div class="user-details d-flex flex-column mt-3">
                    <h5 class="d-flex align-items-center">{{group.name}}</h5>
                    <p class="small"> {{lastMessage(group)}}</p>
                </div>
            </div>
            <div class="user-details">
                <small class="align-items-start">{{ group.time }}</small>
            </div>
        </div>

    </div>
</div>
<!-- Componente de Chat -->