*{
  color: #FFA324;
}

.border-line{
  border-bottom: 2px solid #747373;
  padding-bottom: 1.0rem;
}

.filter-nav{
  padding-bottom: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  max-height: calc(100vh - 200px);

  &::-webkit-scrollbar {
      width: 8px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: #FFA324;
      border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
      background: transparent;
  }

  &::-webkit-scrollbar-button {
      display: none;
  }
}

.no-bg {
  background-color: transparent;
  border: none;
}

input::placeholder {
  font-size: 15px; 
}

.footer {
  height: 59px;
  width: 31%;
  display: flex;
  background-color: #131212;
  color: #FFA324;
  font-size: 1.25rem;
  font-weight: 500;
  transition: background-color 0.3s;
  --bs-gutter-x: 0;

}

.footer-icon {
  font-size: 25px;
  margin-left: 10px;
  
}

.navbar-transform {
  cursor: pointer;
  transition: transform 0.3s, background-color 0.5s;


  fa-icon {
      color: #FFA324;
    }

  &:hover {
    background-color: #FFA324;

    fa-icon {
        color: #1C1C1C
    }
  }
}

.header-tickets {
  height: 59px;
  width: 100%;
  background-color:#121212;
}

.divider-line {
  border-bottom: 1px solid #8d8c8b; /* Cor da linha */
  margin-bottom: 10px;
  width: 100%; /* Largura da linha */

  h2{
    font-size: 10px;
  }
}

.table {
  width: 80%; 
  margin: 0 auto;
  border-collapse: collapse;
  cursor: pointer;  
}

.table thead th {
  color: #f4f1ed; 
  padding: 12px;
  text-align: left;
}

.th, td {
  padding: 10px;
  text-align: left;
  color: #ffcc00; 
  border-bottom: 1px solid #444; 
}

.table tbody tr:nth-child(odd) td {
  background-color: #3b3b3b; 
}

.table tbody tr:hover td {
  background-color: #725703; 
  color: #ebe4e4; 
}

.page-number {
  color: #ffcc00;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.page-number:hover {
  color: #ebe4e4; 
}

.button {
  background-color: transparent;
  border: none;
  color: #ffcc00;
}

.button:hover {
  color: #fff;
}

.add-ticket-div {
  background-color: #333;
  border-radius: 8px;
  padding: 16px;
}

.add-tickets{
  font-size: 22px;
}

fa-icon{
  cursor: pointer;
}

.custom-textarea {
  width: 100%; /* Faz com que o textarea ocupe toda a largura da coluna */
  height: auto; /* A altura é automaticamente ajustada com base nas linhas */
  background-color: transparent; /* Cor de fundo similar aos outros inputs */
  color: #7D7D7D; /* Cor do texto */
  border: 1px solid #7D7D7D; /* Cor da borda */
  border-radius: 4px; /* Bordas arredondadas para combinar com o estilo dos outros campos */
  padding: 10px; /* Espaçamento interno para um visual melhor */
}

.custom-textarea::placeholder {
  color: #7D7D7D; /* Cor do texto do placeholder */
  opacity: 0.7; /* Opacidade do placeholder */
}

.custom-btn {
  background-color: #ffcc00; /* Cor de fundo personalizada */
  color: #111010; /* Cor do texto */
  border: none; /* Sem borda */
}

.custom-btn:hover {
  background-color: #bf9c13; /* Cor ao passar o mouse */
}
