<div class="row mt-2">
    <div class="col-lg-4 menu">
        <div class="d-flex justify-content-between flex-column">
            <div class="header flex-row mb-4">
                <app-header></app-header>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-column">
        <h2 class="tickets-filter ms-3">Gestão de Chamados</h2>  
        <form class="mt-3">
            <div class="row col-lg-3 ms-5 form-group align-items-center">
                    <div class="col-lg-10">
                        <h4>ID Chamado</h4>
                        <input type="text" class="form-control mb-4" placeholder="Insira um ID"> 
                    </div>
                    <div class="col-lg-2 mt-2 justify-content-center align-items-center h-100">
                        <fa-icon [icon]="faSquarePlus" class="search-icon fs-5"></fa-icon>
                    </div>
                    
                <h4>Título</h4>
                <input type="text" class="form-control mb-4" placeholder="Insira um título">
                <h4>Data</h4>
                <input type="text" class="form-control mb-4" placeholder="Selecione uma data">  
                <h4>Projeto</h4>
                <input type="text" class="form-control mb-4" placeholder="Insira um projeto">  
                <h4>Solicitante</h4>
                <input type="text" class="form-control mb-4" placeholder="Insira um solicitante">  
                <div class="form-group d-flex justify-content-between align-items-center">
                    <div class="me-4">
                        <h4>Tipo</h4>
                        <input type="text" class="form-control input-wide" placeholder="Selecione um tipo">
                    </div>
                    <div class="ms-4">
                        <h4>Subtipo</h4>
                        <input type="text" class="form-control input-wide" placeholder="Selecione um subtipo">
                    </div>
                </div>                       
            </div>
        </form>        
    </div>
</div>