<div class="row h-100 mt-2">

  <div class="footer d-flex justify-content-between mt-auto col-1 h-100 flex-column pe-0" 
    [@toggleSidebar]="isCollapsed ? 'expanded' : 'collapsed'"
    [ngClass]="{'position-absolute': !isCollapsed}">
    <div class="d-flex align-items-center justify-content-between flex-column w-100">
      <div *ngFor="let page of pages; let i = index" [ngClass]="{'selected': isSelected(page)}"
        (click)="navigateTo(page.path)" class="w-100 d-flex justify-content-center align-items-center py-3">
        <fa-icon [icon]="page.icon" class="footer-icon"></fa-icon>
      </div>
    </div>
  

    <div class="p-3 pt-4 w-100 d-flex justify-content-center align-items-center navbar-transform" (click)="toggleMenu()">
      <fa-icon [icon]="isCollapsed ? faAnglesRight : faAnglesLeft"></fa-icon>
    </div>
  </div>

  <div class="menu col-lg-4" *ngIf="!isCollapsed">
    <div class="d-flex justify-content-between flex-column h-100">
      <div class="header flex-row mb-3">
        <app-header></app-header>
      </div>
      
      <div>
        <router-outlet name="left"></router-outlet> <!-- Para o conteúdo à esquerda -->
      </div>

      <div class="footer mt-auto w-100 bottom-0" [@toggleFooter]="isFooterCollapsed ? 'collapsed' : 'expanded'">
        <div class="col-lg-10 d-flex align-items-center justify-content-start">
          <div *ngFor="let page of pages; let i = index" [ngClass]="{'selected': isSelected(page)}"
            (click)="navigateTo(page.path)" class="h-100 p-4">
            <fa-icon [icon]="page.icon" class="footer-icon me-2"></fa-icon>
          </div>
        </div>

        <div class="col-lg-2 h-100 d-flex justify-content-center align-items-center navbar-transform footer-nav p-4"
          (click)="toggleMenu()">
          <fa-icon class="footer-icon me-2" [icon]="isCollapsed ? faAnglesRight : faAnglesLeft"></fa-icon>
        </div>
      </div>

    </div>
  </div>

  <div [ngClass]="{'col-lg-11': isCollapsed, 'col-lg-8': !isCollapsed}">
    <router-outlet name="right"></router-outlet>
  </div>
</div>