<div class="row h-100 mt-2">
    <div class="col-lg-4 menu">
        <div class="d-flex justify-content-between flex-column">
            <div class="header flex-row mb-4">
                <app-header></app-header>
            </div>
            <div class="d-flex justify-content-between p-2">
                <input type="text" class="form-control" placeholder="Pesquise por um grupo ou palavra-chave">
                <fa-icon [icon]="faSquarePlus" class="search-icon"></fa-icon>
            </div>
            <div class="row chat-nav p-2">
                <div *ngFor="let group of groups" class="chat-group p-2 mb-3" >
                    <div class="d-flex justify-content-between" (click)="chooseGroup(group)">
                        <div class="d-flex align-items-center">
                            <img [src]="group.imageUrl" alt="Logo" class="user user-image">
                            <div class="user-details d-flex flex-column mt-3">
                                <h5 class="d-flex align-items-center">{{group.name}}</h5>
                                <p class="small"> {{group.lastMessage}}</p>
                            </div>
                        </div>
                        <div class="user-details">
                            <small class="align-items-start">{{ group.time }}</small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footer mt-auto w-100 p-3 bottom-0">
                <div class="d-flex w-100">
                    <div class="col-lg-10 d-flex align-items-center">
                        <fa-icon *ngFor="let page of pages; let i = index" [icon]="page.icon" class="footer-icon"
                        ></fa-icon>
                        </div>

                    <div class="col-lg-2 d-flex justify-content-center align-items-center navbar-transform">
                        <fa-icon [icon]="faAnglesLeft"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8 row d-flex flex-column h-100">
        <div class="header d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-between w-100">
            <div class="d-flex justify-content-between align-items-center">
              <img [src]="choosenGroup.imageUrl" alt="Logo" class="user user-image">
              <div class="user-details d-flex flex-column mt-3">
                <h5 class="d-flex align-items-center">{{ choosenGroup.name }}</h5>
                <p class="small">{{ choosenGroup.participants.join(', ') }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <fa-icon [icon]="faCog" class="configurations"></fa-icon>
            </div>
          </div>
        </div>

        <div class="messages-container p-3 flex-grow-1">
          <div *ngFor="let message of choosenGroup.messages" class="d-flex mb-2 w-100" [ngStyle]="{'justify-content': message.sender === 'Usuário' ? 'end' : 'start'}">
           <div class="message" [ngClass]="{'sent': message.sender === 'Usuário', 'received': message.sender !== 'Usuário'}">
             <div class="d-flex justify-content-between">
               <strong>{{ message.sender }}</strong>
               <small>{{ message.time }}</small>
              </div>
              <p>{{ message.content }}</p>
            </div>
          </div>          
        </div>

        <div class="footer mt-auto w-100 p-3 bottom-0">
          <div class="d-flex w-100 row">
            <div class="col-lg-10 d-flex align-items-center">
              <input type="text" class="form-control" [(ngModel)]="newMessageContent" placeholder="Digite sua mensagem...">
            </div>
            <div class="col-lg-2">
              <button class="btn btn-primary ml-2" (click)="sendMessage()">Enviar</button>
            </div>
          </div>
        </div>

      </div>
</div>